.aButton {
	transition        : 1.0s ease all;
	-moz-transition   : 1.0s ease all;
	-webkit-transition: 1.0s ease all;
}
.aButton:hover {
	transition        : 1.0s ease all;
	-moz-transition   : 1.0s ease all;
	-webkit-transition: 1.0s ease all;

}

.rotate {
	cursor: pointer;	
}
.rotate:hover {
	transform               : rotate(360deg);
	-moz-transform          : rotate(360deg);
	-webkit-transform       : rotate(360deg);
	transform-origin        : center;
	-moz-transform-origin   : center;
	-webkit-transform-origin: center;

	transition              : transform 1.0s ease all;
	-moz-transition         : -moz-transform 1.0s ease all;
	-webkit-transition      : -webkit-transform 1.0s ease all;
}
.rotateY {
	cursor: pointer;	
}
.rotateY:hover {
	transform               : rotateY(360deg);
	-moz-transform          : rotateY(360deg);
	-webkit-transform       : rotateY(360deg);
	transform-origin        : center;
	-moz-transform-origin   : center;
	-webkit-transform-origin: center;

	transition              : transform 1.0s ease all;
	-moz-transition         : -moz-transform 1.0s ease all;
	-webkit-transition      : -webkit-transform 1.0s ease all;
}
.rotateX {
	cursor: pointer;	
}
.rotateX:hover {
	transform               : rotateX(360deg);
	-moz-transform          : rotateX(360deg);
	-webkit-transform       : rotateX(360deg);
	transform-origin        : center;
	-moz-transform-origin   : center;
	-webkit-transform-origin: center;

	transition              : transform 1.0s ease all;
	-moz-transition         : -moz-transform 1.0s ease all;
	-webkit-transition      : -webkit-transform 1.0s ease all;
}


.loading {
	-webkit-animation: rotation 2s linear;
}

@-webkit-keyframes rotation {
from {
-webkit-transform: rotate(0deg);
}

to {
-webkit-transform: rotate(359deg);
}
}
